{% extends "main.html" %}
{% block main %}
    <div class="content">
        <h3><a href="http://fliprabbit.com">Fliprabbit</a></h3>
        <p>
        A price tracker for <a href="http://flipkart.com">Flipkart</a>. Watch price history or track prices of products and Fliprabbit will email when price falls below desired value. Inspired by camelcamelcamel.
         </p>
    </div>

    <br />
    <br />

    <div class="content">
        <h3><a href="http://gaganpreet.github.io/hn-hiring-mapped/">HN Hiring Mapped</a></h3>
        <p>
        Maps the monthly "Who is Hiring" (posted on <a href="https://news.ycombinator.com/submitted?id=whoishiring">1st of every month</a>) HN thread by guessing the location from the posts in the thread. Has some filters for convenience.
         </p>
    </div>

    <br />
    <br />

    <div class="content">
        <h3><a href="https://github.com/gaganpreet/kwallet-dump">KWallet dump</a></h3>
        <p>
        A script to read KWallet files to access passwords away from desktop. I also wrote a <a href="http://ggn.me/kwallet">blog post about security deficiencies of KWallet</a>.
         </p>
    </div>

    <br />
    <br />

    <div class="content">
        <h3><a href="http://web.iiit.ac.in/~gaganpreet/blogroll">IIIT Blogroll</a></h3>
        <p>
            <!--<img src="static/blogroll.png" class="imgleft" /> -->
            A blog aggregator built on Bootstrap and Simplepie. It uses flat files and fetches feeds every hour and provides an aggregated feed for consumption. 
         </p>
    </div>

    <br />
    <br />

    <div class="content">
        <h3><a href="https://github.com/gaganpreet/mbr-game">Pacman in Assembly</a></h3>
        <p>
        <!--<img src="static/pacman.png" class="imgleft" />-->
            A simplified clone of pacman written in assembly. 482 bytes overall (30 bytes short of the size limit of an MBR). There are no ghosts, no levels but there's only so much you can do in 512 bytes.
        </p>
    </div>

    <br />
    <br />

    <div class="content">
        <h3><a href="static/video_characterization.pdf">Video characterization [PDF]</a></h3>
        <p>
            My work on video characterization - data mining applied directly to video data instead of associated metadata. It was used to predict the genre of an unknown movie which gave an accuracy of about 80%.
        </p>
    </div>

    <br />
    <br />
    <div class="centered">
        Other: My <a href="https://github.com/gaganpreet/dotfiles">dotfiles</a>, source for this <a href='https://github.com/gaganpreet/homepage'>site</a>, and <a href='https://duckduckgo.com/?q=yui+json'>two</a> <a href='https://duckduckgo.com/?q=port+42'>plugins</a> I have written for DuckDuckGo. Or, all my <a href='https://github.com/gaganpreet?tab=repositories'>Github</a> repositories.
    </div>
{% endblock %}
